
body {
	background-color: #131414;
	color: white;
	font-weight: 300;
}

h1, h2, h3, h4 {
	text-align: center;
}

.full-width {
	width: 100%;
}

.buffer {
	margin-top: 10px;
}

.dropzone {
	border-radius: 10px;
	box-shadow:inset 0px 0px 0px 4px #78d7e0;
	height: 300px;
	transition: all 0.3s ease-out;
}

.inner-dropzone {
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
	text-align: center;
	font-size: 30px;
}

.dragover {
	box-shadow:inset 0px 0px 0px 4px white;
	background-color: #2a2a2a;
}

.blue-color {
	color: #78d7e0;
}

.ellipsis-overflow {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}


.header {
	padding-left: 10px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.header-title {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 2em;
	height: 10%;
}

.header-artist {
	color: #8d8d8d;
	font-size: 1.5em;
}

.header-key {
	font-size: 1.5em;
	float: left;
}

.header-bpm {
	font-size: 1.5em;
	float: right;
}

.transition-list {
	padding-top: 20px;
	padding-bottom: 20px;
	margin-right: -5%;
	opacity: 0;
	transition: opacity 0.3s ease-in;
}

.list-item {
	border-bottom: solid 1px white;
	border-top: solid 1px white;
	margin-top: -1px;
	padding-right: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-left: 10px;
}

.list-item-title {
	font-size: 1.2em;
}

.list-item-artist {
	font-size: 1.1em;
	color: #8d8d8d;
	width: 65%;
}

.list-item-key-bpm {
	float: right;
	width: 30%;
	margin-top: -1.3em;
}

.list-item-key {
	margin-left: 0;
	text-align: left;
	float: left;
}

.list-item-bpm {
	text-align: left;
	float: right;
}

/** FROM http://tobiasahlin.com/spinkit/ **/
.spinner {
	width: 50px;
	height: 50px;
	background-color: #78d7e0;
	
	margin: 70% auto;
	-webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
	animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
	0% { -webkit-transform: perspective(120px) }
	50% { -webkit-transform: perspective(120px) rotateY(180deg) }
	100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
	0% { 
		transform: perspective(120px) rotateX(0deg) rotateY(0deg);
		-webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
	} 50% { 
		transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
		-webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
	} 100% { 
		transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
		-webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  	}
}

/*******/