---
---

@import "{{ site.theme }}";

.page-header {
	filter: grayscale(1)
}

.site-footer-credits {
	display: none
}

.btn {
	display: none
}

#how-to-use {
	color: gray
}

.site-footer-owner {
	color: lightgray;

	a {
		color: gray
	}
}