<!DOCTYPE html>
<html>
	<head>
	    <meta charset="UTF-8">
	    <title>Traktor Auto Next Song</title>
	    <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
	    <link rel="stylesheet" type="text/css" href="style.css">
	</head>

	<body>
		<div class="container" id="collection-select" style="visibility: visible">
			<div class="row buffer"></div>
			<div class="row">
		  		<div class="col-sm-2"></div>
		  		<div class="col-sm-8">
			    	<button class="btn btn-default btn-lg full-width" onclick="openFile()">Open 'collection.nml'</button>
		    	</div>
		  		<div class="col-sm-2"></div>
		    </div>
	    </div>

		<div id="spinner"></div>

		<div class="container" id="drop-song" style="visibility: hidden">
			<div class="row buffer"></div>
			<div class="row">
		  		<div class="col-sm-12">
			    	<div id="dropzone" class="dropzone full-width blue-color">
						<div class="inner-dropzone blue-color" id="inner-dropzone">
							Drop Song...
						</div>
					</div>
		    	</div>
			</div>
			<div class="header">
				<div class="header-title ellipsis-overflow" id="chosen-title"></div>
				<div class="header-artist ellipsis overflow" id="chosen-artist"></div>
				<div class="header-key blue-color" id="chosen-bpm"></div>
				<div class="header-bpm blue-color" id="chosen-key"></div>
		    </div>
			<div class="row buffer"></div>
			<div id="transition-list" class="transition-list"></div>
		</div>
	    <script src="../script/index.js"></script>
		<script src="../script/song-select.js"></script>
	</body>
</html>
